@import url(https://fonts.bunny.net/css?family=poppins);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import url(variables.css);

.dark-mode {
    --background: var(--dark-background-color);
    --text: var(--dark-text-color);
    --talen-die-wij-kunnen-color: rgb(117, 175, 160, 1);
}

.light-mode {
    --background-color: var(--light-background-color);
    --text: var(--light-text-color);
    --talen-die-wij-kunnen-color: rgb(17, 25, 40, 1);
}

.dark-mode .header-logo {
    content: url(../public/img/logo_outlined.png);
}

.light-mode .header-logo {
    content: url(../public/img/logo.png);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
}

nav li a {
    text-decoration: none;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
}

nav ul li {
    list-style: none;
    margin-left: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.header-logo {
    max-height: 7rem;
    max-width: 7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.5em;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
}

dark-mode-toggle {
    width: 2.5rem;
    height: 2.5rem;
}

/* Over container van index/home pagina */
.over-ons-container-min {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
}

.dark-mode .over-ons-container-min p strong {
    font-weight: bolder;
    font-style: oblique;
    color: #fff;
    text-decoration: underline;
}

.light-mode .over-ons-container-min p strong {
    font-weight: bolder;
    font-style: oblique;
    color: #000;
    text-decoration: underline;
}

.over-ons-container-min p {
    max-width: 50%;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

 .talen-die-wij-kunnen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
    width: min(95%, 45rem);
    margin: 0 auto;
}

.talen-die-wij-kunnen-container img {
    background-color: rgba(17, 25, 40, 0.25);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100px;
    height: 100px;
} 

.talen-die-wij-kunnen-container img:hover {
    transform: scale(1.15);
    box-shadow: #000 0 0 2rem;
}

.talen-die-wij-kunnen-container img:not(hover) {
    opacity: 1;
}

figure {
    margin-left: 6%;
}

figure>* {
    grid-area: 1/1;
    transition: .4s;
    max-width: 45rem;
    max-height: 10rem;
    align-items: center;
    justify-content: center;
} 

figure figcaption {

    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 var(--_i, 100%));

    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);

    mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);

    -webkit-mask-composite: xor;
    mask-composite: xor;
    mask-clip: text, padding-box;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
}

figure:hover figcaption {
    --_i: 0%;
    border-radius: 2rem;
}

figure:hover img {
    transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        mask: none;
        color: #fff;
    }
} 

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: #f1f1f1
}

.dropdown-content button img {
    width: 100%;
    height: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.bedrijf-project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

.bedrijf-project-item img {
    border: #000 2px solid;
    border-radius: 2rem;
}

.bedrijf-project-item img:hover {
    box-shadow: #000 0 0 2rem;
}

.bedrijf-project-item figcaption {

    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: transparent;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    padding: .75rem;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 var(--_i, 100%));

    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);

    mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);

    -webkit-mask-composite: xor;
    mask-composite: xor;
    mask-clip: text, padding-box;
    -webkit-mask-clip: text, padding-box;
    margin: -8rem;
}

.bedrijf-project-item figcaption a {
    text-decoration: none;
}

.bedrijf-project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}